* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: realtive;
   min-height: 100vh;
}

.main {
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.titulo {
  display: flex;
  justify-content: center;
  padding: 15px;
  width: 30vw;
  margin: auto;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 0 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 0.5em;
  width: 30vw;
  height: auto;
}

.btn {
  width: 100px;
  border: 0;
  color: white;
  font-weight: bold;
  background-color: rgb(16, 53, 218);
  padding: 10px;
  margin-top: 10px;
  border-radius: 0.5em;
}
.btn:hover{
  background-color: rgba(2, 49, 255, 0.924);
  color: aqua;
}

.text-input {
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.5em;
  width: 100%;
  height: 50px;
}


.footer{
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
}
@media(max-width:520px){
  .main {
  display: block;
  }
  form{
    font-size: 16px;
    font-weight: lighter;
    text-align: center;
  }
  .titulo{
    margin-top: 50px;
    font-size: 35px;
  }
  h2{
    font-size: 17px;
    text-align: center;
  }
  .box{
    width: 70vw;
    margin-top:10px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer{
    font-size: 11px;
    text-align: center;
  }
}